.navigation__signin {
  background-color: #3ddc84;
  padding: 8px 20px;
  margin: 0;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  font-size: 12px;
  font-weight: 500;
}

.navigation__signin:hover {
  opacity: 0.5;
}

@media screen and (max-width: 655px) {
  .navigation__signin {
    font-size: 10px;
  }
}