.movies-card {
    list-style: none;
    overflow: hidden;
    border-radius: 6px;
    background: #A0A0A0;
    justify-content: center;
}

.movies-card__image {
    vertical-align: bottom;
    object-fit: cover;
}

.movies-card__image:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 2px 2px 5px rgba(255, 255, 255, 1);
}

.movies-card__info {
    padding: 16px;
    position: relative;
}

.movies-card__name {
    margin: 0 0 17px;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.movies-card__duration {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #a0a0a0;
}

.movies-card__like {
    background: no-repeat center/contain url('../../images/like.svg');
    padding: 0;
    margin: 0;
    width: 15px;
    height: 15px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 20px;
}

.movies-card__like_liked {
    background: no-repeat center/contain url('../../images/like-active.svg');
    width: 30px;
    height: 30px;
}

.movies-card__delete {
    background: no-repeat center/contain url('../../images/close.svg');
    display: none;
    padding: 0;
    margin: 0;
    width: 14px;
    height: 12px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 19px;
    right: 24px;
}

.movies-card__container:hover .movies-card__delete {
    display: block;
}

@media screen and (max-width: 920px) {
    .movies-card {
        max-width: 339px;
        max-height: 262px;
    }
}

@media screen and (max-width: 768px) {
    .movies-card__image {
        object-fit: cover;
        height: 190px;
    }

    .movies-card__info {
        padding: 14px 16px;
    }
}

@media screen and (max-width: 450px) {
    .movies-card {
        max-width: 300px;
        max-height: 327px;
    }

    .movies-card__image {
        height: 168px;
    }

    .movies-card__name {
        margin: 0 0 14px;
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__duration {
        font-size: 10px;
        line-height: 12px;
    }

    .movies-card__info {
        padding: 14px;
    }

    .movies-card__like {
        top: 17px;
        right: 18px;
    }
}