.movies-card {
    list-style: none;
    border-radius: 20px;
    background: #A0A0A0;
    justify-content: center;
}

.movies-card__image {
    vertical-align: bottom;
    object-fit: cover;
    justify-content: center;
    width: 100%;
}

.movies-card__image:hover {
    cursor: pointer;
    box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 2px 2px 5px rgba(255, 255, 255, 1);
}

.movies-card__info {
    position: relative;
    margin-left: 14px;
    margin-bottom: 14px;
}

.movies-card__name {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.movies-card__duration {
    margin: 0;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #a0a0a0;
}

.movies-card__like {
    background: no-repeat center/contain url('../../images/like.svg');
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 15px;
}

.movies-card__like_active {
    background: no-repeat center/contain url('../../images/like-active.svg');
    width: 30px;
    height: 30px;
}

.movies-card__delete {
    background: no-repeat center/contain url('../../images/close.svg');
    padding: 0;
    margin: 0;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 15px;
    background-color: #F9F9F9;
    border-radius: 50%;
}


@media screen and (max-width: 768px) {
    .movies-card__image {
        object-fit: cover;
        height: 190px;
    }

    .movies-card {
        background-color: #FDFDFD;
        box-shadow: 0 -1em 1em rgba(0, 0, 0, 0.1),
            0 0 0 2px rgb(255, 255, 255);
    }
}

@media screen and (max-width: 480px) {
    .movies-card__like {
        right: 10px;
    }
}

@media screen and (max-width: 450px) {
    .movies-card {
        max-width: 300px;
    }

    .movies-card__image {
        height: 168px;
    }

    .movies-card__name {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-card__duration {
        font-size: 10px;
        line-height: 12px;
    }
}