.promo {
    width: 1200px;
    align-self: center;
}

.promo__container {
    background-color: #073042;
    display: flex;
    flex-direction: column;
    height: 493px;
    position: relative;
    gap: 151px;
    border-radius: 2%;
}

.promo__heading {
    padding-top: 184px;
    font-size: 40px;
    font-weight: 400;
    line-height: 1.07;
    max-width: 626px;
    text-align: center;
    letter-spacing: -1px;
    margin: 0 auto;
}

.promo__image {
    position: absolute;
    padding-top: 70px;
    align-self: center;
    display: flex;
}

@media screen and (max-width: 1200px) {
    .promo {
        width: 96%;
    }
}

@media screen and (max-width: 768px) {
    .promo__container {
        align-items: center;
        gap: 314px;
        padding: 300px 0 70px;
        background-color: #F5F5F5;
    }

    .promo__heading {
        max-width: 680px;
        padding-top: 110px;
    }

    .promo__image {
        object-fit: cover;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .promo {
        height: 834px;
    }
}

@media screen and (max-width: 560px) {
    .promo__container {
        gap: 212px;
        padding: 220px 0 14px;
    }

}

@media screen and (max-width: 425px) {
    .promo__container {
        padding: 0;
        justify-content: center;
        height: 100%;
    }

    .promo {
        height: 586px;
        align-self: center;
        margin-bottom: 70px;
    }


    .promo__image {
        object-fit: cover;
        width: 300px;
    }

    .promo__heading {
        max-width: 300px;
        font-size: 31px;
        padding: 0;
    }
}