.techs {
    width: 100%;
    background-color: #272727;
    align-self: center;
}

.techs__title {
    font-size: 22px;
    font-weight: 400;
    border-bottom: 1px solid #A0A0A0;
    margin: 100px 70px 90px;
    padding-bottom: 23px;
}

.techs__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.techs__paragraph {
    margin: 0 0 22px;
    font-size: 50px;
    font-weight: 400;
}

.section-subtitle {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 100px;
    line-height: 20px;
    max-width: 460px;
    text-align: center;
    color: #A0A0A0;
}

.techs__list {
    display: inline-flex;
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.techs__item {
    padding: 20px 30px;
    background-color: #303030;
    border-radius: 10px;
    font-size: 14px;
    justify-content: center;
    display: flex;
}


@media screen and (max-width: 768px) {
    .techs__paragraph {
        margin-bottom: 22px;
    }

    .section-subtitle {
        font-size: 12px;
        margin-bottom: 83px;
        color: #000;
    }

    .techs__item {
        font-size: 12px;
        padding: 20px 25px;
        background-color: #E8E8E8;
    }

    .techs__title {
        margin-top: 90px;
        margin-left: 50px;
        margin-right: 50px;
        color: #000;
        border-bottom: 1px solid #000;
    }

    .techs {
        background-color: #F5F5F5;
    }

    .techs__info {
        padding-left: 58px;
        padding-right: 58px;
    }
}

@media screen and (max-width: 680px) {
    .techs__list {
        display: grid;
        grid-template-columns: repeat(2, 84px);
    }
}

@media screen and (max-width: 425px) {
    .techs__title {
        font-size: 18px;
        padding-bottom: 28px;
        margin: 70px 14px 60px;
    }

    .techs__info {
        padding: 70px 20px;
    }

    .techs__list {
        display: grid;
        grid-template-columns: repeat(2, 84px);
    }

    .techs__paragraph {
        font-size: 30px;
        margin-bottom: 24px;
    }

    .techs {
        background-color: #ffffff;
    }

    .section-subtitle {
        margin-bottom: 50px;
        line-height: 16px;
        letter-spacing: -4%;
        font-size: 11px;
    }

    .techs__container {
        margin: 60px 14px 70px;
    }
}