@import url('./vendor/normalize.css');
@import url('./vendor/fonts/fonts.css');

html {
  scroll-behavior: smooth;
  background-color: #202020;
}

input[data-autocompleted] {
  background-color: transparent;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: black;
}
